<div>

    <div>
        <div class="notelist-sortcontrols">
            <span>Sort</span>
            <a id="sortDirection" href="javascript://" data-bind="click: toggleSortDirection, text: sortDesc ? 'descending' : 'ascending'"></a>
            <span>by</span>
            <a id="sortProp" href="javascript://" data-bind="click: toggleSortProp, text: sortProp.text"></a>
        </div>
    </div>
    <!-- ko foreach: notes -->
        <!-- ko compose: { 
            model: "views/_shared/note",
            activate: true,
            activationData: $parent.getNoteViewModelActivationData($data)
        } -->
        <!-- /ko -->
    <!-- /ko -->
    <div class="button-group">
        <button data-bind="click: add">New</button>
    </div>
    <p>
        <a href="javascript://" data-bind="click: toggleEditMode"><i class="fa fa-arrow-right"></i> <span data-bind="text: toggleEditModeButtonText"><</a>
    </p>
</div>