<div>

    <p>
        <a data-bind="route-href: { route: 'Notes', params: { editMode: 'samepage' }, options: { replace: true }}"><i class="fa fa-arrow-right"></i> Go to notes (in-page edit mode)</a>
    </p>
    <p>
        <a data-bind="route-href: { route: 'Notes',  params: { editMode: 'separatepage' }, options: { replace: true }}"><i class="fa fa-arrow-right"></i> Go to notes (separate-page edit mode)</a>
    </p>

    <div data-bind="compose: {
        model: 'views/home/home.terms',
        activate: true,
        deactivate: true
    }"></div>
    
</div>